<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="//bits.wikimedia.org/favicon/wmf.ico" />
		<title><%= current_page.data.title || "Wikimedia Foundation: Transparency Report" %></title>

		<%= stylesheet_link_tag "bootstrap.min.css" %>
		<%= stylesheet_link_tag "master.css" %>
		<%= stylesheet_link_tag "graph.css" %>
		<%= javascript_include_tag  "all" %>
	</head>

	<body class="<%= page_classes %>">
		<div class="container">
			<header>
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">
							<img src="/images/logo.png" />
							<% if request.path != 'index.html'  %>
								<span class="name"><%= t('menu.title') %></span>
							<% end %>
						</a>
					</div>
					<div id="navbar-collapse" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><%= navigation_link( t('menu.privacy'), '/privacy.html' ) %></li>
							<li><%= navigation_link( t('menu.content'), '/content.html' ) %></li>
							<li><%= navigation_link( t('menu.faq'), '/faq.html' ) %></li>
						</ul>
					</div>
				</nav>
			</header>

			<%= yield %>

			<footer>
				<div class="col-md-5">
					<a class="brand" href="/">
						<img src="/images/logo.png">
						<%= t('menu.title') %>
					</a>
				</div>

				<div class="col-md-2">
					<ul>
						<li><a href="/privacy.html"><%= t('menu.privacy') %></a></li>
						<li><a href="/content.html"><%= t('menu.content') %></a></li>
						<li><a href="/faq.html"><%= t('menu.faq') %></a></li>
					</ul>
				</div>

				<div class="col-md-2">
					<ul>
						<li><a href="https://meta.wikimedia.org/wiki/Wikimedia_Foundation_Transparency_Report"><%= t('menu.wiki_version') %></a></li>
						<li><a href="/data/data_aug2014.ods"><%= t('menu.download_data') %></a></li>
						<li><a href="http://wikimediafoundation.org/wiki/Privacy_policy"><%= t('menu.privacy_policy') %></a></li>
						<li><a href="https://meta.wikimedia.org/wiki/Data_retention_guidelines"><%= t('menu.data_retention_guidelines') %></a></li>
					</ul>
				</div>

				<div class="col-md-2">
					<ul>
						<li><a href="http://wikimediafoundation.org"><%= t('menu.about_us') %></a></li>
						<li><a href="https://blog.wikimedia.org/"><%= t('menu.blog') %></a></li>
						<li><a href="http://wikimediafoundation.org/wiki/Terms_of_Use"><%= t('menu.tou') %></a></li>
					</ul>
				</div>

			</footer>

		</div>
		<script type="text/javascript" src="/javascripts/retina.min.js"></script>
	</body>
</html>
