<div class="jumbotron">
  <h1>
    <span class="blue mainheading">
      <%= t('content.title') %>
    </span>
  </h1>
</div>

<div class="col-md-3">
  <section class="scorecard">
    <h2><%= t('dates.jul') %> 2012 – <%= t('dates.jun') %> 2014</h2>
    <dl>
      <dt><%= t('content.total_number_of_requests') %></dt>
      <dd>304</dd>
    </dl>
  </section>

  <section class="scorecard scorecard_bottom">
    <h2><%= t('dates.jul') %> 2012 – <%= t('dates.jun') %> 2014</h2>
    <dl>
      <dt><%= t('content.percentage_of_requests_granted') %></dt>
      <dd>0<small>%</small></dd>
    </dl>
  </section>
</div>

<div class="col-md-8">
  <p class="lead">
    <%= t('content.lead') %>
  </p>

  <%= t('content.intro') %>

  <blockquote>
    <p><%= t('content.quote') %></p>
    <footer>
      <a href="//commons.wikimedia.org/wiki/File:Jay-Z_2011.jpg"><img src="/images/quote_jay.png"></a>
      <p><%= t('content.cite') %></p>
    </footer>
  </blockquote>
</div>

<div class="col-md-4">
  <div class="story">
    <a href="//fr.wikipedia.org/wiki/Station_hertzienne_militaire_de_Pierre-sur-Haute#mediaviewer/Fichier:Base_militaire_de_Pierre-sur-Haute.jpg"><img src="/images/story_dcri.png"></a>
    <h3><%= t('content.story1_title') %></h3>
    <p><%= t('content.story1_body') %></p>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <a href="//commons.wikimedia.org/wiki/Commons:Featured_picture_candidates/File:Macaca_nigra_self-portrait_%28rotated_and_cropped%29.jpg#File:Macaca_nigra_self-portrait_.28rotated_and_cropped.29.jpg"><img src="/images/story_monkey.png"></a>
    <h3><%= t('content.story2_title') %></h3>
    <p><%= t('content.story2_body') %></p>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <a href="//en.wikipedia.org/wiki/Mount_Wellington_%28Tasmania%29#mediaviewer/File:Mount_Wellington.jpg"><img src="/images/story_aboriginal.png"></a>
    <h3><%= t('content.story3_title') %></h3>
    <p><%= t('content.story3_body') %></p>
  </div>
</div>

<div class="clear"></div>


<div class="col-md-12">
	<div class="analytics">
		<h2><%= t('content.graph_where_from') %></h2>
		<ul class="tabs">
			<li><a class="where_from_tabs" id="where_from_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="active where_from_tabs" id="where_from_jul12jun13" href="javascript: void(0);"><%= t('dates.jul') %> 2012 - <%= t('dates.jun') %> 2013</a></li>
			<li><a class="where_from_tabs" id="where_from_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="where_from_tabs" id="where_from_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
		</ul>
		<div class="graph">
			<div id="where_from_graph" class="bar_graph_horizontal"></div>
		</div>
	</div>


	<div class="analytics">
		<h2><%= t('content.graph_targeted_takedown') %></h2>
		<ul class="tabs">
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="active targeted_takedown_tabs" id="targeted_takedown_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
		</ul>
		<div class="graph">
			<div id="targeted_takedown_graph" class="bar_graph_horizontal"></div>
		</div>

	</div>
</div>
<div class="clear"></div>
<br /> <br /> <br /> <br />

<div class="col-md-3">
  <section class="scorecard">
    <h2><%= t('dates.jul') %> 2012 – <%= t('dates.jun') %> 2014</h2>
    <dl>
      <dt><%= t('content.total_number_of_dmca_requests') %></dt>
      <dd>58</dd>
    </dl>
  </section>

  <section class="scorecard scorecard_bottom">
    <h2><%= t('dates.jul') %> 2012 – <%= t('dates.jun') %> 2014</h2>
    <dl>
      <dt><%= t('content.percentage_of_requests_granted') %></dt>
      <dd>41<small>%</small></dd>
    </dl>
  </section>
</div>

<div class="col-md-8">
  <h2><%= t('content.dmca_title') %></h2>
  <%= t('content.dmca_intro') %>
  <blockquote>
    <p><%= t('content.quote2') %></p>
    <footer>
      <a href="//en.wikipedia.org/wiki/Pamela_Samuelson#mediaviewer/File:Pamela_Samuelson,_2005.jpg"><img src="/images/quote_samuelson.png"></a>
      <p><%= t('content.cite2') %></p>
    </footer>
  </blockquote>
</div>

<div class="col-md-4">
  <div class="story">
    <a href="//en.wikipedia.org/wiki/Babe_Ruth%27s_called_shot#mediaviewer/File:Ruth1932-1.jpg"><img src="/images/story_ruth.png"></a>
    <h3>
      <%= t('content.s_t_babe_ruth') %>
    </h3>
    <%= t('content.s_s_babe_ruth') %>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <img src="/images/story_obama.png">
    <h3>
      <%= t('content.s_t_obama') %>
    </h3>
      <%= t('content.s_s_obama') %>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <a href="//commons.wikimedia.org/wiki/Jane_Austen#mediaviewer/File:Jane_Austen_coloured_version.jpg"><img src="/images/story_classics.png"></a>
    <h3>
      <%= t('content.s_t_classic') %>
    </h3>
    <%= t('content.s_s_classic') %>
  </div>
</div>

<div class="clear"></div>

<div class="col-md-12">

	<div class="analytics">
		<h2><%= t('content.graph_dmca_requests') %></h2>
		<ul class="tabs">
			<li><a class="dmca_requests_tabs" id="dmca_requests_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="active dmca_requests_tabs" id="dmca_requests_jul12jun13" href="javascript: void(0);"><%= t('dates.jul') %> 2012 - <%= t('dates.jun') %> 2013</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
		</ul>

		<div class="col-md-4" id="dmca_requests_legend">
			<h3><%= t('content.request_granted') %></h3>
			<div>
				<p class="legend legend_yes"><%= t('yn.yess') %></p>
				<p class="legend legend_no"><%= t('yn.noo') %></p>
			</div>
		</div>

		<div class="col-md-7">
			<div id="dmca_requests_graph" class="bar_graph_horizontal"></div>
		</div>
		<div class="clear"></div>

	</div>

	<div class="analytics">
		<h2><%= t('content.graph_targeted_dmca') %></h2>
		<ul class="tabs">
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="active targeted_dmca_tabs" id="targeted_dmca_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
		</ul>
		<div class="graph">
			<div id="targeted_dmca_graph" class="bar_graph_horizontal"></div>
		</div>
	</div>
</div>

<div class="clear"></div>

<script src="/javascripts/content.js"></script>
