<div class="jumbotron">
  <h1>
    <span class="blue mainheading">
      <%= t('content.title') %>
    </span>
  </h1>
</div>
<div class="col-md-3">
  <section class="scorecard">
    <h2><%= t('dates.jul') %> – <%= t('dates.dec') %> 2017</h2>
    <dl>
      <dt><%= t('content.total_number_of_requests') %></dt>
      <dd>343</dd>
    </dl>
  </section>
  <section class="scorecard scorecard_bottom">
    <h2><%= t('dates.jul') %> – <%= t('dates.dec') %> 2017</h2>
    <dl>
      <dt><%= t('content.percentage_of_requests_granted') %></dt>
      <dd><span class="three-decimal">0</span><small>%</small></dd>
    </dl>
  </section>
</div>
<div class="col-md-8">
  <p class="lead">
    <%= t('content.lead') %>
  </p>
  <%= t('content.intro') %>
  <blockquote>
    <p><%= t('content.quote') %></p>
    <footer>
      <a href="https://commons.wikimedia.org/wiki/File:Flag_of_the_United_Nations.svg">
      	<img src="/images/un_flag.png">
      </a>
      <p><%= t('content.cite') %></p>
    </footer>
  </blockquote>
</div>
<div class="col-md-4">
  <div class="story">
    <a class="anchorImg" href="https://commons.wikimedia.org/wiki/File:Un_d%C3%AEner_de_philosophes.Jean_Huber.jpg">
    	<img class="story_count_me__img" src="/images/story_count_me.jpg">
    </a>
    <h3><%= t('content.story_count_me_title') %></h3>
    <p><%= t('content.story_count_me_body') %></p>
  </div>
</div>
<div class="col-md-4">
  <div class="story">
    <a class="anchorImg" href="https://commons.wikimedia.org/wiki/File:Expo-Flags.jpg">
    	<img src="/images/story_political_discussions.jpg" >
    </a>
    <h3><%= t('content.story_political_discussions_title') %></h3>
    <p><%= t('content.story_political_discussions_body') %></p>
  </div>
</div>
<div class="col-md-4">
  <div class="story">
    <a class="anchorImg" href="https://commons.wikimedia.org/wiki/File:Toyogeki-Movie_Toyooka002.jpg">
    	<img class="story_room__img" src="/images/story_room.jpg">
    </a>
    <h3><%= t('content.story_room_title') %></h3>
    <p><%= t('content.story_room_body') %></p>
  </div>
</div>
<div class="clear"></div>
<br><br>
<div class="col-md-8 col-md-offset-2">
	<div class="story">
		<h3 id="government-request">
			<small><%= t('dates.jul') %> – <%= t('dates.dec') %> 2017</small><br>
			<%= t('privacy.govt_requests') %>
		</h3>
		<hr>
		<table>
			<tr>
				<td><%= t('graph.france') %></td>
				<td><%= t('graph.politicians_candidates') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td><%= t('graph.germany') %></td>
				<td><%= t('graph.politicians_candidates') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td><%= t('graph.india') %></td>
				<td><%= t('graph.local_police') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td><%= t('graph.italy') %></td>
				<td><%= t('graph.politicians_candidates') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td><%= t('graph.philippines') %></td>
				<td><%= t('graph.executive_office') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td><%= t('graph.turkey') %></td>
				<td><%= t('graph.government_agency') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td><%= t('graph.united_kingdom') %></td>
				<td><%= t('graph.local_police') %></td>
				<td>1</td>
			</tr>
		</table>
	</div>
</div>
<div class="clear"></div>
<div class="col-md-12">
	<div class="analytics">
		<h2 id="requests-from"><%= t('content.graph_where_from') %></h2>
		<ul class="tabs">
			<li><a class="where_from_tabs" id="where_from_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="where_from_tabs" id="where_from_jul12jun13" href="javascript: void(0);"><%= t('dates.jul') %> 2012 - <%= t('dates.jun') %> 2013</a></li>
			<li><a class="where_from_tabs" id="where_from_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="where_from_tabs" id="where_from_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
			<li><a class="where_from_tabs" id="where_from_juldec14" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2014</a></li>
			<li><a class="where_from_tabs" id="where_from_janjun15" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2015</a></li>
			<li><a class="where_from_tabs" id="where_from_juldec15" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2015</a></li>
			<li><a class="where_from_tabs" id="where_from_janjun16" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2016</a></li>
			<li><a class="where_from_tabs" id="where_from_juldec16" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2016</a></li>
			<li><a class="where_from_tabs" id="where_from_janjun17" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2017</a></li>
			<li><a class="where_from_tabs active" id="where_from_juldec17" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2017</a></li>
		</ul>
		<div class="col-md-4" id="where_from_legend">
			<h3><%= t('content.request_granted') %></h3>
			<div>
				<p class="legend legend_yes"><%= t('yn.yess') %></p>
				<p class="legend legend_no"><%= t('yn.noo') %></p>
			</div>
			<section class="scorecard analytics__scorecard scorecard--1">
				<h2>Jan - Jun 2016</h2>
			    <dl>
			      <dt><%= t('content.total_received') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<section class="scorecard analytics__scorecard scorecard--2">
				<h2>Jan - Jun 2016</h2>
			    <dl>
			      <dt><%= t('content.total_granted') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<div class="clear"></div>
		</div>
		<div class="col-md-7">
			<div id="where_from_graph" class="bar_graph_horizontal"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="analytics">
		<h2 id="project-target"><%= t('content.graph_targeted_takedown') %></h2>
		<ul class="tabs">
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_juldec14" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2014</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_janjun15" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2015</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_juldec15" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2015</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_janjun16" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2016</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_juldec16" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2016</a></li>
			<li><a class="targeted_takedown_tabs" id="targeted_takedown_janjun17" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2017</a></li>
			<li><a class="active targeted_takedown_tabs" id="targeted_takedown_juldec17" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2017</a></li>
		</ul>
		<div class="col-md-4" id="targeted_takedown_legend">
			<h3><%= t('content.request_granted') %></h3>
			<div>
				<p class="legend legend_yes"><%= t('yn.yess') %></p>
				<p class="legend legend_no"><%= t('yn.noo') %></p>
			</div>
			<section class="scorecard analytics__scorecard scorecard--1">
				<h2>Jan - Jun 2016</h2>
			    <dl>
			      <dt><%= t('content.total_received') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<section class="scorecard analytics__scorecard scorecard--2">
				<h2>Jan - Jun 2016</h2>
			    <dl>
			      <dt><%= t('content.total_granted') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<div class="clear"></div>
			<div class="fineprint">
				<h2>*</h2><p><%= t('content.targeted_takedown_fineprint') %></p>
			</div>
		</div>
		<div class="col-md-7">
			<div id="targeted_takedown_graph" class="bar_graph_horizontal"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<br> <br> <br> <br>
<div class="col-md-3">
  <section class="scorecard">
    <h2><%= t('dates.jul') %> – <%= t('dates.dec') %> 2017</h2>
    <dl>
      <dt><%= t('content.total_number_of_erasure_requests') %></dt>
      <dd>1</dd>
    </dl>
  </section>
  <section class="scorecard scorecard_bottom">
    <h2><%= t('dates.jul') %> – <%= t('dates.dec') %> 2017</h2>
    <dl>
      <dt><%= t('content.number_of_erasure_requests_granted') %></dt>
      <dd>0</dd>
    </dl>
  </section>
</div>
<div class="col-md-8">
  <h2><%= t('content.erasure_title') %></h2>
  <%= t('content.erasure_intro') %>
</div>
<div class="clear"></div>
<br> <br> <br> <br>
<div class="col-md-3">
  <section class="scorecard">
    <h2><%= t('dates.jul') %> – <%= t('dates.dec') %> 2017</h2>
    <dl>
      <dt><%= t('content.total_number_of_dmca_requests') %></dt>
      <dd>12</dd>
    </dl>
  </section>
  <section class="scorecard scorecard_bottom">
    <h2><%= t('dates.jul') %> – <%= t('dates.dec') %> 2017</h2>
    <dl>
      <dt><%= t('content.percentage_of_requests_granted') %></dt>
      <dd>17<small>%</small></dd>
    </dl>
  </section>
</div>
<div class="col-md-8">
  <h2><%= t('content.dmca_title') %></h2>
  <%= t('content.dmca_intro') %>
  <blockquote>
    <p><%= t('content.erasure_quote') %></p>
    <footer>
      <a href="https://commons.wikimedia.org/wiki/File:Das_Recht_auf_Wissen_%E2%80%93_f%C3%BCr_eine_progressive_Netzpolitik_(6996713652).jpg">
      	<img src="/images/lawrence.png">
      </a>
      <p><%= t('content.erasure_cite') %></p>
    </footer>
  </blockquote>
</div>
<div class="col-md-4">
  <div class="story">
    <a class="anchorImg" href="https://commons.wikimedia.org/wiki/File:World_Map_1689.JPG">
    	<img src="/images/story_quantity_quality.jpg">
    </a>
    <h3><%= t('content.story_quantity_quality_title') %></h3>
    <p><%= t('content.story_quantity_quality_body') %></p>
  </div>
</div>
<div class="col-md-4">
  <div class="story">
    <a class="anchorImg" href="https://commons.wikimedia.org/wiki/File:Television_(8674797024).jpg">
    	<img src="/images/story_spoiler.jpg">
    </a>
    <h3><%= t('content.story_spoiler_title') %></h3>
    <p><%= t('content.story_spoiler_body') %></p>
  </div>
</div>
<div class="col-md-4">
  <div class="story">
    <a class="anchorImg" href="https://commons.wikimedia.org/wiki/File:Large_copyright_graffiti_sign_on_cream_colored_wall_(4273272605).jpg">
    	<img class="story_fair_share__img" src="/images/story_fair_share.jpg">
    </a>
    <h3><%= t('content.story_fair_share_title') %></h3>
    <p><%= t('content.story_fair_share_body') %></p>
  </div>
</div>
<div class="clear"></div>
<br><br>
<div class="col-md-12">
	<div class="analytics">
		<h2 id="dcma-takedown"><%= t('content.graph_dmca_requests') %></h2>
		<ul class="tabs">
			<li><a class="dmca_requests_tabs" id="dmca_requests_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_jul12jun13" href="javascript: void(0);"><%= t('dates.jul') %> 2012 - <%= t('dates.jun') %> 2013</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_juldec14" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2014</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_janjun15" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2015</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_juldec15" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2015</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_janjun16" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2016</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_juldec16" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2016</a></li>
			<li><a class="dmca_requests_tabs" id="dmca_requests_janjun17" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2017</a></li>
			<li><a class="active dmca_requests_tabs" id="dmca_requests_juldec17" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2017</a></li>
		</ul>
		<div class="col-md-4" id="dmca_requests_legend">
			<h3><%= t('content.request_granted') %></h3>
			<div>
				<p class="legend legend_yes"><%= t('yn.yess') %></p>
				<p class="legend legend_no"><%= t('yn.noo') %></p>
			</div>
			<section class="scorecard analytics__scorecard scorecard--1">
				<h2>Jul - Dec 2016</h2>
			    <dl>
			      <dt><%= t('content.total_received') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<section class="scorecard analytics__scorecard scorecard--2">
				<h2>Jul - Dec 2016</h2>
			    <dl>
			      <dt><%= t('content.total_granted') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<div class="clear"></div>
		</div>
		<div class="col-md-7">
			<div id="dmca_requests_graph" class="bar_graph_horizontal"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="analytics">
		<h2 id="wikimedia"><%= t('content.graph_targeted_dmca') %></h2>
		<ul class="tabs">
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_all" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_juldec13" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_janjun14" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_juldec14" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2014</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_janjun15" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2015</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_juldec15" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2015</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_janjun16" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2016</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_juldec16" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2016</a></li>
			<li><a class="targeted_dmca_tabs" id="targeted_dmca_janjun17" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2017</a></li>
			<li><a class="active targeted_dmca_tabs" id="targeted_dmca_juldec17" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2017</a></li>
		</ul>
		<div class="col-md-4" id="targeted_dmca_granted">
			<h3><%= t('content.request_granted') %></h3>
			<div>
				<p class="legend legend_yes"><%= t('yn.yess') %></p>
				<p class="legend legend_no"><%= t('yn.noo') %></p>
			</div>
			<section class="scorecard analytics__scorecard scorecard--1">
				<h2>Jan - Jun 2016</h2>
			    <dl>
			      <dt><%= t('content.total_received') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<section class="scorecard analytics__scorecard scorecard--2">
				<h2>Jan - Jun 2016</h2>
			    <dl>
			      <dt><%= t('content.total_granted') %></dt>
			      <dd>0</dd>
			    </dl>
			</section>
			<div class="clear"></div>
			<div class="fineprint">
				<h2>*</h2><p><%= t('content.targeted_takedown_fineprint') %></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="col-md-7">
			<div id="targeted_dmca_graph" class="bar_graph_horizontal"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<!-- Translations for JS -->
<input type="hidden" id="t_total_requests" value="<%= t('privacy.total_requests') %>">
<input type="hidden" id="t_request_granted" value="<%= t('graph.request_granted') %>">
<input type="hidden" id="t_information_produced" value="<%= t('privacy.information_produced') %>">

<input type="hidden" id="t_afghanistan" value="<%= t('graph.af') %> ">
<input type="hidden" id="t_argentina" value="<%= t('graph.argentina') %>">
<input type="hidden" id="t_australia" value="<%= t('graph.australia') %>">
<input type="hidden" id="t_austria" value="<%= t('graph.austria') %>">
<input type="hidden" id="t_azerbaijan" value="<%= t('graph.azerbaijan') %> ">
<input type="hidden" id="t_bangladesh" value="<%= t('graph.bangladesh') %>">
<input type="hidden" id="t_belgium" value="<%= t('graph.belgium') %>">
<input type="hidden" id="t_brazil" value="<%= t('graph.brazil') %>">
<input type="hidden" id="t_brussels" value="<%= t('graph.brussels') %>">
<input type="hidden" id="t_bulgaria" value="<%= t('graph.bulgaria') %>">
<input type="hidden" id="t_canada" value="<%= t('graph.canada') %>">
<input type="hidden" id="t_chile" value="<%= t('graph.chile') %>">
<input type="hidden" id="t_china" value="<%= t('graph.china') %>">
<input type="hidden" id="t_colombia" value="<%= t('graph.colombia') %> ">
<input type="hidden" id="t_costa_rica" value="<%= t('graph.costa_rica') %> ">
<input type="hidden" id="t_croatia" value="<%= t('graph.cro') %> ">
<input type="hidden" id="t_cyprus" value="<%= t('graph.cyprus') %>">
<input type="hidden" id="t_czech_republic" value="<%= t('graph.czech_republic') %>">
<input type="hidden" id="t_denmark" value="<%= t('graph.denmark') %>">
<input type="hidden" id="t_dominican_republic" value="<%= t('graph.dom') %> ">
<input type="hidden" id="t_ecuador" value="<%= t('graph.ecu') %> ">
<input type="hidden" id="t_egypt" value="<%= t('graph.egy') %> ">
<input type="hidden" id="t_estonia" value="<%= t('graph.est') %> ">
<input type="hidden" id="t_finland" value="<%= t('graph.fin') %> ">
<input type="hidden" id="t_france" value="<%= t('graph.france') %>">
<input type="hidden" id="t_georgia" value="<%= t('graph.geo') %> ">
<input type="hidden" id="t_germany" value="<%= t('graph.germany') %>">
<input type="hidden" id="t_greece" value="<%= t('graph.greece') %>">
<input type="hidden" id="t_guatemala" value="<%= t('graph.gt') %> ">
<input type="hidden" id="t_honduras" value="<%= t('graph.honduras') %> ">
<input type="hidden" id="t_hong_kong" value="<%= t('graph.hong_kong') %>">
<input type="hidden" id="t_hungary" value="<%= t('graph.hung') %> ">
<input type="hidden" id="t_india" value="<%= t('graph.india') %>">
<input type="hidden" id="t_indonesia" value="<%= t('graph.indonesia') %>">
<input type="hidden" id="t_iran" value="<%= t('graph.iran') %>">
<input type="hidden" id="t_ireland" value="<%= t('graph.ireland') %>">
<input type="hidden" id="t_israel" value="<%= t('graph.israel') %>">
<input type="hidden" id="t_italy" value="<%= t('graph.italy') %>">
<input type="hidden" id="t_japan" value="<%= t('graph.japan') %>">
<input type="hidden" id="t_korea" value="<%= t('graph.korea') %>">
<input type="hidden" id="t_latvia" value="<%= t('graph.latvia') %>">
<input type="hidden" id="t_lebanon" value="<%= t('graph.lebanon') %> ">
<input type="hidden" id="t_liechtenstein" value="<%= t('graph.liechtenstein') %>">
<input type="hidden" id="t_lithuania" value="<%= t('graph.lithuania') %> ">
<input type="hidden" id="t_luxembourg" value="<%= t('graph.luxembourg') %>">
<input type="hidden" id="t_macedonia" value="<%= t('graph.macedonia') %> ">
<input type="hidden" id="t_malaysia" value="<%= t('graph.malaysia') %>">
<input type="hidden" id="t_malta" value="<%= t('graph.malta') %> ">
<input type="hidden" id="t_mexico" value="<%= t('graph.mexico') %>">
<input type="hidden" id="t_morocco" value="<%= t('graph.morc') %> ">
<input type="hidden" id="t_netherlands" value="<%= t('graph.netherlands') %>">
<input type="hidden" id="t_new_zealand" value="<%= t('graph.new_zealand') %>">
<input type="hidden" id="t_nigeria" value="<%= t('graph.nigeria') %> ">
<input type="hidden" id="t_norway" value="<%= t('graph.norway') %>">
<input type="hidden" id="t_pakistan" value="<%= t('graph.pakistan') %>">
<input type="hidden" id="t_peru" value="<%= t('graph.peru') %>">
<input type="hidden" id="t_philippines" value="<%= t('graph.philippines') %>">
<input type="hidden" id="t_poland" value="<%= t('graph.poland') %>">
<input type="hidden" id="t_portugal" value="<%= t('graph.prt') %> ">
<input type="hidden" id="t_romania" value="<%= t('graph.romania') %>">
<input type="hidden" id="t_russia" value="<%= t('graph.russia') %>">
<input type="hidden" id="t_saudi_arabia" value="<%= t('graph.saudi_arabia') %>">
<input type="hidden" id="t_senegal" value="<%= t('graph.senegal') %>">
<input type="hidden" id="t_serbia" value="<%= t('graph.serbia') %>">
<input type="hidden" id="t_singapore" value="<%= t('graph.singapore') %>">
<input type="hidden" id="t_slovakia" value="<%= t('graph.slovakia') %>">
<input type="hidden" id="t_slovenia" value="<%= t('graph.slovenia') %>">
<input type="hidden" id="t_south_africa" value="<%= t('graph.south_africa') %>">
<input type="hidden" id="t_south_korea" value="<%= t('graph.south_korea') %>">
<input type="hidden" id="t_spain" value="<%= t('graph.spain') %>">
<input type="hidden" id="t_sri_lanka" value="<%= t('graph.sri_lanka') %>">
<input type="hidden" id="t_suriname" value="<%= t('graph.suriname') %>">
<input type="hidden" id="t_sweden" value="<%= t('graph.sweden') %>">
<input type="hidden" id="t_switzerland" value="<%= t('graph.switzerland') %>">
<input type="hidden" id="t_taiwan" value="<%= t('graph.taiwan') %>">
<input type="hidden" id="t_tanzania" value="<%= t('graph.tanzania') %>">
<input type="hidden" id="t_thailand" value="<%= t('graph.thailand') %> ">
<input type="hidden" id="t_turkey" value="<%= t('graph.turkey') %>">
<input type="hidden" id="t_ukraine" value="<%= t('graph.ukraine') %>">
<input type="hidden" id="t_united_kingdom" value="<%= t('graph.united_kingdom') %>">
<input type="hidden" id="t_unknown" value="<%= t('graph.unknown') %>">
<input type="hidden" id="t_uruguay" value="<%= t('graph.uy') %> ">
<input type="hidden" id="t_usa" value="<%= t('graph.usa') %>">
<input type="hidden" id="t_venezuela" value="<%= t('graph.ven') %> ">
<input type="hidden" id="t_papua_new_guinea" value="<%= t('graph.papua_new_guinea') %> ">
<input type="hidden" id="t_uganda" value="<%= t('graph.uganda') %> ">
<input type="hidden" id="t_uzbekistan" value="<%= t('graph.uzbekistan') %> ">
<input type="hidden" id="t_kosovo" value="<%= t('graph.kosovo') %> ">
<input type="hidden" id="t_libya" value="<%= t('graph.libya') %> ">
<input type="hidden" id="t_bosnia_and_herzegovina" value="<%= t('graph.bosnia_and_herzegovina') %> ">

<input type="hidden" id="t_arabic_wikipedia" value="<%= t('graph.arabic_wikipedia') %>">
<input type="hidden" id="t_azerbaijani_wikipedia" value="<%= t('graph.azerbaijani_wikipedia') %>">
<input type="hidden" id="t_basque_wikipedia" value="<%= t('graph.basque_wikipedia') %>">
<input type="hidden" id="t_bulgarian_wikipedia" value="<%= t('graph.bulgarian_wikipedia') %>">
<input type="hidden" id="t_catalan_wikipedia" value="<%= t('graph.catalan_wikipedia') %>">
<input type="hidden" id="t_chinese_wikipedia" value="<%= t('graph.chinese_wikipedia') %>">
<input type="hidden" id="t_croatian_wikipedia" value="<%= t('graph.croatian_wikipedia') %>">
<input type="hidden" id="t_czech_wikipedia" value="<%= t('graph.czech_wikipedia') %>">
<input type="hidden" id="t_danish_wikiquote" value="<%= t('graph.danish_wikiquote') %>">
<input type="hidden" id="t_dutch_wikipedia" value="<%= t('graph.dutch_wikipedia') %>">
<input type="hidden" id="t_english_wikibooks" value="<%= t('graph.english_wikibooks') %>">
<input type="hidden" id="t_english_wikinews" value="<%= t('graph.english_wikinews') %>">
<input type="hidden" id="t_english_wikipedia" value="<%= t('graph.english_wikipedia') %>">
<input type="hidden" id="t_english_wikisource" value="<%= t('graph.english_wikisource') %>">
<input type="hidden" id="t_english_wikispecies" value="<%= t('graph.english_wikispecies') %>">
<input type="hidden" id="t_english_wikiversity" value="<%= t('graph.english_wikiversity') %>">
<input type="hidden" id="t_english_wiktionary" value="<%= t('graph.english_wiktionary') %>">
<input type="hidden" id="t_estonian_wikipedia" value="<%= t('graph.estonian_wikipedia') %>">
<input type="hidden" id="t_finnish_wikipedia" value="<%= t('graph.finnish_wikipedia') %>">
<input type="hidden" id="t_foundation_wiki" value="<%= t('graph.foundation_wiki') %>">
<input type="hidden" id="t_french_wikinews" value="<%= t('graph.french_wikinews') %>">
<input type="hidden" id="t_french_wikipedia" value="<%= t('graph.french_wikipedia') %>">
<input type="hidden" id="t_french_wikisource" value="<%= t('graph.french_wikisource') %>">
<input type="hidden" id="t_french_wikitionary" value="<%= t('graph.french_wikitionary') %>">
<input type="hidden" id="t_french_wikivoyage" value="<%= t('graph.french_wikivoyage') %>">
<input type="hidden" id="t_french_wiktionary" value="<%= t('graph.french_wiktionary') %>">
<input type="hidden" id="t_galician_wikipedia" value="<%= t('graph.galician_wikipedia') %>">
<input type="hidden" id="t_german_wikibooks" value="<%= t('graph.german_wikibooks') %>">
<input type="hidden" id="t_german_wikipedia" value="<%= t('graph.german_wikipedia') %>">
<input type="hidden" id="t_german_wikivoyage" value="<%= t('graph.german_wikivoyage') %>">
<input type="hidden" id="t_gerrit" value="<%= t('graph.gerrit') %>">
<input type="hidden" id="t_greek_wikipedia" value="<%= t('graph.greek_wikipedia') %>">
<input type="hidden" id="t_gujarati_wikipedia" value="<%= t('graph.gujarati_wikipedia') %>">
<input type="hidden" id="t_hebrew_wikipedia" value="<%= t('graph.hebrew_wikipedia') %>">
<input type="hidden" id="t_hungarian_wikipedia" value="<%= t('graph.hungarian_wikipedia') %>">
<input type="hidden" id="t_indonesian_wikipedia" value="<%= t('graph.indonesian_wikipedia') %>">
<input type="hidden" id="t_italian_wikipedia" value="<%= t('graph.italian_wikipedia') %>">
<input type="hidden" id="t_japanese_wikipedia" value="<%= t('graph.japanese_wikipedia') %>">
<input type="hidden" id="t_korean_wikinews" value="<%= t('graph.korean_wikinews') %>">
<input type="hidden" id="t_korean_wikipedia" value="<%= t('graph.korean_wikipedia') %>">
<input type="hidden" id="t_labs" value="<%= t('graph.labs') %>">
<input type="hidden" id="t_latvian_wikipedia" value="<%= t('graph.latvian_wikipedia') %>">
<input type="hidden" id="t_lithuanian_wikipedia" value="<%= t('graph.lithuanian_wikipedia') %>">
<input type="hidden" id="t_mailing_lists" value="<%= t('graph.mailing_lists') %>">
<input type="hidden" id="t_malayalam_wikipedia" value="<%= t('graph.malayalam_wikipedia') %>">
<input type="hidden" id="t_meta" value="<%= t('graph.meta') %>">
<input type="hidden" id="t_multiple_projects" value="<%= t('graph.multiple') %>">
<input type="hidden" id="t_multiple" value="<%= t('graph.multiple') %>">
<input type="hidden" id="t_no_project_named" value="<%= t('graph.no_project_named') %>">
<input type="hidden" id="t_norwegian_wikipedia" value="<%= t('graph.norwegian_wikipedia') %>">
<input type="hidden" id="t_not_a_wmf_site" value="<%= t('graph.not_a_wmf_site') %>">
<input type="hidden" id="t_old_english_wikipedia" value="<%= t('graph.old_english_wikipedia') %>">
<input type="hidden" id="t_persian_wikipedia" value="<%= t('graph.persian_wikipedia') %>">
<input type="hidden" id="t_persian_wikipedia" value="<%= t('graph.persian_wikipedia') %>">
<input type="hidden" id="t_persian_wikipedia" value="<%= t('graph.persian_wikipedia') %>">
<input type="hidden" id="t_polish_wikipedia" value="<%= t('graph.polish_wikipedia') %>">
<input type="hidden" id="t_portuguese_wikipedia" value="<%= t('graph.portuguese_wikipedia') %>">
<input type="hidden" id="t_portuguese_wikisource" value="<%= t('graph.portuguese_wikisource') %>">
<input type="hidden" id="t_romanian_wikipedia" value="<%= t('graph.romanian_wikipedia') %>">
<input type="hidden" id="t_russian_wikipedia" value="<%= t('graph.russian_wikipedia') %>">
<input type="hidden" id="t_russian_wikisource" value="<%= t('graph.russian_wikisource') %>">
<input type="hidden" id="t_serbian_wikipedia" value="<%= t('graph.serbian_wikipedia') %>">
<input type="hidden" id="t_serbo_croatian_wikipedia" value="<%= t('graph.serbo_croatian_wikipedia') %>">
<input type="hidden" id="t_slovak_wikipedia" value="<%= t('graph.slovak_wikipedia') %>">
<input type="hidden" id="t_slovenian_wikipedia" value="<%= t('graph.slovenian_wikipedia') %>">
<input type="hidden" id="t_somali_wikipedia" value="<%= t('graph.somali_wikipedia') %>">
<input type="hidden" id="t_spanish_wikipedia" value="<%= t('graph.spanish_wikipedia') %>">
<input type="hidden" id="t_swedish_wikipedia" value="<%= t('graph.swedish_wikipedia') %>">
<input type="hidden" id="t_tagalog_wikipedia" value="<%= t('graph.tagalog_wikipedia') %>">
<input type="hidden" id="t_thai_wikipedia" value="<%= t('graph.thai_wikipedia') %>">
<input type="hidden" id="t_turkish_wikipedia" value="<%= t('graph.turkish_wikipedia') %>">
<input type="hidden" id="t_ukrainian_wikipedia" value="<%= t('graph.ukrainian_wikipedia') %>">
<input type="hidden" id="t_wikidata" value="<%= t('graph.wikidata') %>">
<input type="hidden" id="t_wikimedia_commons" value="<%= t('graph.wikimedia_commons') %>">
<input type="hidden" id="t_bosnian_wikipedia" value="<%= t('graph.bosnian_wikipedia') %>">
<input type="hidden" id="t_danish_wikipedia" value="<%= t('graph.danish_wikipedia') %>">
<input type="hidden" id="t_english_wikiquote" value="<%= t('graph.english_wikiquote') %>">
<input type="hidden" id="t_uzbek_wikipedia" value="<%= t('graph.uzbek_wikipedia') %>">
<input type="hidden" id="t_wikispecies" value="<%= t('graph.wikispecies') %>">

<input type="hidden" id="t_one_case_was_american_brazilian" value="<%= t('graph.one_case_was_american_brazilian') %>">
<input type="hidden" id="t_one_case_was_british_swiss" value="<%= t('graph.one_case_was_british_swiss') %>">
<input type="hidden" id="t_one_case_was_french_saudi_arabian" value="<%= t('graph.one_case_was_french_saudi_arabian') %>">
<input type="hidden" id="t_one_case_was_russian_british" value="<%= t('graph.one_case_was_russian_british') %>">
<input type="hidden" id="t_one_case_was_serbo_croat" value="<%= t('graph.one_case_was_serbo_croat') %>">
<input type="hidden" id="t_one_case_was_spanish_italian" value="<%= t('graph.one_case_was_spanish_italian') %>">

<script src="javascripts/rag.js"></script>
<script src="javascripts/content.js"></script>
