<div class="jumbotron">
	<h1>
		<span class="blue">
			<%= t('faq.title') %>
		</span>
	</h1>
</div>

<div class="col-md-3"></div>

<div class="col-md-9">
	<a name="information"></a>
	<h2 class="faq"><%= t('faq.q_information') %></h2>
	<div class="answer"><%= t('faq.a_information') %></div>

	<a name="standards"></a>
	<h2 class="faq"><%= t('faq.q_standards') %></h2>
	<div class="answer"><%= t('faq.a_standards') %></div>

	<a name="request_abroad"></a>
	<h2 class="faq"><%= t('faq.q_request_abroad') %></h2>
	<div class="answer"><%= t('faq.a_request_abroad') %></div>

	<a name="nonpublic_personal_information"></a>
	<h2 class="faq"><%= t('faq.q_nonpublic_personal_information') %></h2>
	<div class="answer"><%= t('faq.a_nonpublic_personal_information') %></div>

	<a name="my_personal_information"></a>
	<h2 class="faq"><%= t('faq.q_my_personal_information') %></h2>
	<div class="answer"><%= t('faq.a_my_personal_information') %></div>

	<a name="civil_subpoena"></a>
	<h2 class="faq"><%= t('faq.q_civil_subpoena') %></h2>
	<div class="answer"><%= t('faq.a_civil_subpoena') %></div>

	<a name="criminal_subpoena"></a>
	<h2 class="faq"><%= t('faq.q_criminal_subpoena') %></h2>
	<div class="answer"><%= t('faq.a_criminal_subpoena') %></div>

	<a name="search_warrant"></a>
	<h2 class="faq"><%= t('faq.q_search_warrant') %></h2>
	<div class="answer"><%= t('faq.a_search_warrant') %></div>

	<a name="court_order"></a>
	<h2 class="faq"><%= t('faq.q_court_order') %></h2>
	<div class="answer"><%= t('faq.a_court_order') %></div>

	<a name="possibly_actually_affected"></a>
	<h2 class="faq"><%= t('faq.q_possibly_actually_affected') %></h2>
	<div class="answer"><%= t('faq.a_possibly_actually_affected') %></div>

	<a name="potentially_affected"></a>
	<h2 class="faq"><%= t('faq.q_potentially_affected') %></h2>
	<div class="answer"><%= t('faq.a_potentially_affected') %></div>

	<a name="actually_affected"></a>
	<h2 class="faq"><%= t('faq.q_actually_affected') %></h2>
	<div class="answer"><%= t('faq.a_acutally_affected') %></div>

	<a name="public_information_included"></a>
	<h2 class="faq"><%= t('faq.q_public_information_included') %></h2>
	<div class="answer"><%= t('faq.a_public_information_included') %></div>

	<a name="improve_laws"></a>
	<h2 class="faq"><%= t('faq.q_improve_laws') %></h2>
	<div class="answer"><%= t('faq.a_improve_laws') %></div>

	<a name="resolve_content_disputes"></a>
	<h2 class="faq"><%= t('faq.q_resolve_content_disputes') %></h2>
	<div class="answer"><%= t('faq.a_resolve_content_disputes') %></div>

	<a name="im_being_sued"></a>
	<h2 class="faq"><%= t('faq.q_im_being_sued') %></h2>
	<div class="answer"><%= t('faq.a_im_being_sued') %></div>

	<a name="remove_content"></a>
	<h2 class="faq"><%= t('faq.q_remove_content') %></h2>
	<div class="answer"><%= t('faq.a_remove_content') %></div>

	<a name="dmca_valid_proper"></a>
	<h2 class="faq"><%= t('faq.q_dmca_valid_proper') %></h2>
	<div class="answer"><%= t('faq.a_dmca_valid_proper') %></div>

	<a name="transparent_dmca"></a>
	<h2 class="faq"><%= t('faq.q_transparent_dmca') %></h2>
	<div class="answer"><%= t('faq.a_transparent_dmca') %></div>

	<a name="counter_notices"></a>
	<h2 class="faq"><%= t('faq.q_counter_notices') %></h2>
	<div class="answer"><%= t('faq.a_counter_notices') %></div>

	<a name="six_month"></a>
	<h2 class="faq"><%= t('faq.q_six_month') %></h2>
	<div class="answer"><%= t('faq.a_six_month') %></div>

	<a name="count_requests"></a>
	<h2 class="faq"><%= t('faq.q_count_requests') %></h2>
	<div class="answer"><%= t('faq.a_count_requests') %></div>

	<a name="targeted_takedown"></a>
	<h2 class="faq"><%= t('faq.q_targeted_takedown') %></h2>
	<div class="answer"><%= t('faq.a_targeted_takedown') %></div>

	<a name="projects_affected"></a>
	<h2 class="faq"><%= t('faq.q_projects_affected') %></h2>
	<div class="answer"><%= t('faq.a_projects_affected') %></div>


<div class="clear"></div><br><br>

<script src="/javascripts/faq.js"></script>
