<div class="jumbotron">
	<h1>
		<span class="name"><%= t('home.title')%></span>
		<span class="blue mainheading">
			<%= t('home.title_two') %>
		</span>
	</h1>
</div>

<div class="col-md-12">
	<p class="lead">
		<%= t('home.lead') %>
	</p>
</div>

<div class="col-md-4">
	<a href="privacy.html" class="story bignav">
		<h3><%= t('home.privacy') %></h3>
		<hr/>
		<p>
			<img class="icon" src="/images/userdata.svg">
		</p>
	</a>
</div>

<div class="col-md-4">
	<a href="content.html" class="story bignav">
		<h3><%= t('home.content') %></h3>
		<hr/>
		<p>
			<img class="icon" src="/images/content1.svg">
		</p>
	</a>
</div>

<div class="col-md-4">
	<a href="faq.html" class="story bignav">
		<h3><%= t('home.faq') %></h3>
		<hr/>
		<p>
			<img class="icon" src="/images/faq.svg">
		</p>
	</a>
</div>
<div class="col-md-2"></div>
<div class="col-md-10">
<blockquote class="middle">
    <p><%= t('home.quote') %></p>
    <footer>
      <a href="https://en.wikipedia.org/wiki/Louis_Brandeis#mediaviewer/File:Brandeisl.jpg"><img src="/images/quote_brandeis.png"></a>
      <p><%= t('home.cite') %></p>
    </footer>
  </blockquote>
</div>
<div class="clear">&nbsp;</div>
