<div class="jumbotron">
	<h1>
		<span class="blue mainheading">
			<%= t('privacy.title') %>
		</span>
	</h1>
</div>

<div class="col-md-3">
	<section class="scorecard">
		<h2><%= t('dates.jul') %> 2014 – <%= t('dates.dec') %> 2014</h2>
		<dl>
			<dt><%= t('privacy.total_number_of_requests') %></dt>
			<dd>28</dd>
		</dl>
	</section>

	<section class="scorecard scorecard_bottom">
		<h2><%= t('dates.jul') %> 2014 – <%= t('dates.dec') %> 2014</h2>
		<dl>
			<dt><%= t('privacy.percentage_of_times_information_produced') %></dt>
			<dd>3.6<small>%</small></dd>
		</dl>
	</section>

</div>

<div class="col-md-8">
	<p class="lead">
		<%= t('privacy.lead') %>
	</p>

	<%= t('privacy.intro') %>

	<blockquote>
		<p><%= t('privacy.quote') %></p>
		<footer>
			<a href="//commons.wikimedia.org/wiki/File:Niels_Bohr.jpg"><img src="/images/quote_bohr.png"></a>
			<p><%= t('privacy.cite') %></p>
		</footer>
	</blockquote>

	<div class="story summary_table">
		<h3>
			<small><%= t('dates.jul') %> 2014 – <%= t('dates.dec') %> 2014</small><br />
			<%= t('privacy.summary') %>
		</h3>
		<hr />
		<table>
			<tr class="highlight">
				<td><%= t('privacy.total_number_of_requests') %></td>
				<td>28</td>
			</tr>
			<tr>
				<td class="indent"><a href="/faq.html#informal_non_government_requests"><%= t('privacy.informal_non_govt') %></td>
				<td>11</td>
			</tr>
			<tr>
				<td class="indent"><a href="/faq.html#informal_government_requests"><%= t('privacy.informal_govt') %></a></td>
				<td>11</td>
			</tr>
			<tr>
				<td class="indent"><a href="/faq.html#civil_subpoena"><%= t('privacy.civil_subpoenas') %></a></td>
				<td>3</td>
			</tr>
			<tr>
				<td class="indent"><a href="/faq.html#criminal_subpoena"><%= t('privacy.criminal_subpoenas') %></a></td>
				<td>2</td>
			</tr>
			<tr>
				<td class="indent"><a href="//en.wikipedia.org/wiki/Administrative_subpoena"><%= t('privacy.administrative_subpoenas') %></a></td>
				<td>0</td>
			</tr>
			<tr>
				<td class="indent"><a href="/faq.html#search_warrant"><%= t('privacy.search_warrants') %></a></td>
				<td>1</td>
			</tr>
			<tr class="last">
				<td class="indent"><a href="/faq.html#court_order"><%= t('privacy.court_orders') %></a></td>
				<td>0</td>
			</tr>
			<tr class="highlight">
				<td><%= t('privacy.information_produced') %></td>
				<td>1</td>
			</tr>
			<tr class="highlight">
				<td><%= t('privacy.user_potentially_affected') %></td>
				<td>2157</td>
			</tr>
			<tr class="highlight">
				<td><%= t('privacy.user_actually_affected') %></td>
				<td>2121</td>
			</tr>
		</table>
	</div>
</div>

<div class="col-md-12">
	<div class="analytics">
		<h2><%= t('privacy.compared_to_others') %>*</h2>
		<ul class="tabs">
			<li><a id="bubble_graph_jul13jun14" class="bubble_graph_tabs active" href="javascript: void(0);"><%= t('dates.jul') %> 2013 - <%= t('dates.jun') %> 2014</a></li>
		</ul>
		<div id="compare_graph" class="bubble_graph"></div>
		<div class="legends">
			<div>
				<span class="total_requests_circle"></span><p><%= t('privacy.total_requests') %></p>
			</div>
			<div>
				<span class="complied_requests_circle"></span><p><%= t('privacy.information_was_produced') %></p>
			</div>
			<div class="fineprint">
				<h2>*</h2><p><%= t('privacy.bubble_graph_fineprint') %></p>
			</div>
		</div>
	</div>

</div>
<div class="clear"></div>

<div class="col-md-12">
	<div class="analytics">
		<h2><%= t('privacy.request_response') %></h2>
		<ul class="tabs">
			<li><a id="user_data_all" class="user_data_tabs" href="javascript: void(0);"><%= t('dates.all') %></a></li>
			<li><a id="user_data_jul12jun13" class="user_data_tabs" href="javascript: void(0);"><%= t('dates.jul') %> 2012 - <%= t('dates.jun') %> 2013</a></li>
			<li><a id="user_data_juldec13" class="user_data_tabs"  href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2013</a></li>
			<li><a id="user_data_janjun14" class="user_data_tabs" href="javascript: void(0);"><%= t('dates.jan') %> - <%= t('dates.jun') %> 2014</a></li>
			<li><a id="user_data_juldec14" class="user_data_tabs active" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2014</a></li>
		</ul>
		<div class="graph">
			<div class="row">
				<div class="col-md-4">
					<h3><%= t('privacy.request_type') %><a id="request_type_show_all" href="javascript: void(0)" class="disabled"><%= t('privacy.show_all') %></a></h3>
					<div id="bar_graph_by_type" class="bar_graph_horizontal"></div>
					<h3><%= t('privacy.information_produced_title') %></h3>
					<div>
						<p class="legend legend_yes"><%= t('yn.yess') %></p>
						<p class="legend legend_no"><%= t('yn.noo') %></p>
					</div>
				</div>
				<div class="col-md-7">
					<h3><%= t('privacy.by_country') %><a id="by_country_show_all" href="javascript: void(0)" class="disabled"><%= t('privacy.show_all') %></a></h3>
					<div id="bar_graph_by_country" class="bar_graph_horizontal"></div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="col-md-8 col-md-offset-2">
	<div class="story">
		<h3>
			<small><%= t('dates.jul') %> 2014 – <%= t('dates.dec') %> 2014</small><br />
			<%= t('privacy.govt_requests') %>
		</h3>
		<hr />
		<table>
			<tr class="highlight">
				<td><%= t('graph.informal_government_requests') %></td>
				<td>Total</td>
				<td>11</td>
			</tr>
			<tr>
				<td class="indent noborder"><%= t('graph.usa') %></td>
				<td><%= t('graph.local_police') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td class="indent"></td>
				<td><%= t('graph.federal_agency') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td class="indent"><%= t('graph.france') %></td>
				<td><%= t('graph.local_police') %></td>
				<td>4</td>
			</tr>
			<tr>
				<td class="indent noborder"><%= t('graph.italy') %></td>
				<td><%= t('graph.local_police') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td class="indent"></td>
				<td><%= t('graph.federal_police') %></td>
				<td>2</td>
			</tr>
			<tr>
				<td class="indent"><%= t('graph.brazil') %></td>
				<td><%= t('graph.executive_office') %></td>
				<td>1</td>
			</tr>
			<tr>
				<td class="indent"><%= t('graph.israel') %></td>
				<td><%= t('graph.municipal_government') %></td>
				<td>1</td>
			</tr>
			<tr class="highlight">
				<td><%= t('graph.warrant') %></td>
				<td></td>
				<td>1</td>
			</tr>
			<tr>
				<td class="indent"><%= t('graph.usa') %></td>
				<td><%= t('graph.doj') %></td>
				<td>1</td>
			</tr>
			<tr class="highlight">
				<td><%= t('graph.criminal_subpoenas') %></td>
				<td></td>
				<td>1</td>
			</tr>
			<tr>
				<td class="indent"><%= t('graph.usa') %></td>
				<td><%= t('graph.doj') %></td>
				<td>1</td>
			</tr>
		</table>
	</div>
</div>


<div class="clear"></div>
<br /> <br /> <br /> <br />

<div class="col-md-3">
  <section class="scorecard">
    <h2><%= t('dates.jul') %> 2014 – <%= t('dates.dec') %> 2014</h2>
    <dl>
      <dt><%= t('privacy.total_number_of_voluntary_disclosures') %></dt>
      <dd>18</dd>
    </dl>
  </section>
</div>

<div class="col-md-8">
  <h2><%= t('privacy.voluntary_disclosures_title') %></h2>
  <%= t('privacy.voluntary_disclosures_intro') %>
</div>

<div class="clear"></div>
<br><br>

<div class="col-md-4">
  <div class="story">
    <a href="//commons.wikimedia.org/wiki/File:LED_Verkehrssicherungsbalken.jpg"><img src="/images/story_emergency.png"></a>
    <h3><%= t('privacy.story_emergency_title') %></h3>
    <p><%= t('privacy.story_emergency_body') %></p>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <a href="//commons.wikimedia.org/wiki/White_House#mediaviewer/File:SouthPorticoChristmas.jpg"><img src="/images/story_whitehouse.png"></a>
    <h3><%= t('privacy.story_whitehouse_title') %></h3>
    <p><%= t('privacy.story_whitehouse_body') %></p>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <a href="//commons.wikimedia.org/wiki/File:Suicide_Prevention_Day.jpg"><img src="/images/story_suicide.png"></a>
    <h3><%= t('privacy.story_suicide_title') %></h3>
    <p><%= t('privacy.story_suicide_body') %></p>
  </div>
</div>

<div class="clear"></div>
<br><br>

<div class="analytics">
	<h2><%= t('privacy.graph_voluntary_disclosure') %></h2>
	<ul class="tabs">
		<li><a class="active voluntary_disclosure" id="voluntary_disclosure_juldec14" href="javascript: void(0);"><%= t('dates.jul') %> - <%= t('dates.dec') %> 2014</a></li>
	</ul>
	<div class="col-md-7">
		<div id="voluntary_disclosure_graph" class="bar_graph_horizontal">
			<img src="images/pie.png" alt="Voluntary Disclosure: Pie Graph">
		</div>
	</div>
	<div class="clear"></div>
	<br>
</div>


<!-- Translations for JS -->
<input type="hidden" id="t_total_requests" value="<%= t('privacy.total_requests') %>">
<input type="hidden" id="t_request_granted" value="<%= t('graph.request_granted') %>">
<input type="hidden" id="t_information_produced" value="<%= t('privacy.information_produced') %>">
<input type="hidden" id="t_usa" value="<%= t('graph.usa') %>">
<input type="hidden" id="t_united_kingdom" value="<%= t('graph.united_kingdom') %>">
<input type="hidden" id="t_france" value="<%= t('graph.france') %>">
<input type="hidden" id="t_germany" value="<%= t('graph.germany') %>">
<input type="hidden" id="t_india" value="<%= t('graph.india') %>">
<input type="hidden" id="t_singapore" value="<%= t('graph.singapore') %>">
<input type="hidden" id="t_new_zealand" value="<%= t('graph.new_zealand') %>">
<input type="hidden" id="t_malaysia" value="<%= t('graph.malaysia') %>">
<input type="hidden" id="t_italy" value="<%= t('graph.italy') %>">
<input type="hidden" id="t_canada" value="<%= t('graph.canada') %>">
<input type="hidden" id="t_hong_kong" value="<%= t('graph.hong_kong') %>">
<input type="hidden" id="t_mexico" value="<%= t('graph.mexico') %>">
<input type="hidden" id="t_netherlands" value="<%= t('graph.netherlands') %>">
<input type="hidden" id="t_slovakia" value="<%= t('graph.slovakia') %>">
<input type="hidden" id="t_brazil" value="<%= t('graph.brazil') %>">
<input type="hidden" id="t_spain" value="<%= t('graph.spain') %>">
<input type="hidden" id="t_switzerland" value="<%= t('graph.switzerland') %>">

<input type="hidden" id="t_criminal_subpoenas" value="<%= t('graph.criminal_subpoenas') %>">
<input type="hidden" id="t_informal_non_government_requests" value="<%= t('graph.informal_non_government_requests') %>">
<input type="hidden" id="t_civil_subpoenas" value="<%= t('graph.civil_subpoenas') %>">
<input type="hidden" id="t_informal_government_requests" value="<%= t('graph.informal_government_requests') %>">
<input type="hidden" id="t_warrant" value="<%= t('graph.warrant') %>">

<input type="hidden" id="t_physical_threats" value="<%= t('graph.physical_threats') %>">
<input type="hidden" id="t_suicide_threats" value="<%= t('graph.suicide_threats') %>">
<input type="hidden" id="t_other" value="<%= t('graph.other') %>">

<div class="clear">&nbsp;</div>
<script src="/javascripts/rag.js"></script>
<script src="/javascripts/privacy.js"></script>
